# 忽略PyCharm的配置文件
.idea/
*.iml

# 忽略.env文件
.env

# 忽略Python编译缓存
__pycache__/

# 保留文件夹，仅忽略其内部内容
**/generated_cases/**
**/generated_scripts/**
**/generated_checklist/**
**/general_answers/**
**/test_file/**
**/temp_uploads/**

# 可补充其他需要忽略的内容（比如日志文件、临时文件）
*.log
*.tmp